#root {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.custom-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

#game-page {
  height: 60%;
}

.list-group {
  max-height: 250px;
  overflow: auto;
}

.player-name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.btn-players{
  padding: 5px;
}

.score-group {
  max-height: 300px;
  width: 80%;
  overflow: auto;
}

.btn-rolled-num {
  height: 70px;
  width: 100%;
}

.btn-danger {
  background-color: #dc3545;
}

.popups {
  background-color: black;
  border-radius: 10px;
  border: 1px solid #6c757d;
  border-bottom: none;
}

#bank-div {
  max-height: 325px;
  overflow: auto;
}

.game-btns, .game-btns:hover {
  width: 100%;
  background-color: black;
}

.overlay-btns-selected {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

.ending-group {
  max-height: 450px;
  width: 80%;
  overflow: auto;
}

.game-over-btns {
  width: 100%;
  height: 50px;
}